name: "overlay-container"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.swiftlint.yml'
      - ".github/workflows/**"
      - "Package.swift"
      - "Source/**"
      - "Tests/**"

permissions:
  contents: read

concurrency:
  group: overlay-container-${{ github.head_ref }}
  cancel-in-progress: true

env:
  SCHEME_NAME: "overlay-container"

jobs:
  test-apple-platforms:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          # iOS
          - { platform: iOS, name: "iOS 26.0, Xcode 26.0, Swift 6.2.0", xcode: "Xcode_26.0.1", runsOn: macOS-26, destination: "OS=26.0.1,name=iPhone 17 Pro" }
          - { platform: iOS, name: "iOS 18.1", xcode: "Xcode_16.1", runsOn: macOS-14, destination: "OS=18.1,name=iPhone 16 Pro" }
          - { platform: iOS, name: "iOS 17.4", xcode: "Xcode_15.3", runsOn: macOS-14, destination: "OS=17.4,name=iPhone 15 Pro" }
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run tests - ${{ matrix.name }}
        run: |
          xcodebuild test \
            -scheme "${{ env.SCHEME_NAME }}" \
            -destination "${{ matrix.destination }}" \
            -enableCodeCoverage YES \
            -resultBundlePath "test_output/${{ matrix.name }}.xcresult" \
            clean || exit 1